{% extends 'base.html' %}
{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div class="row">
    <h1 class="col-12 col-md-6 display-2">Интернет-магазин одежды и обуви</h1>
    <img src="https://media.istockphoto.com/id/1250958527/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/%D0%BE%D0%B4%D0%B5%D0%B6%D0%B4%D0%B0-%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%BE%D0%B9-%D0%B8-%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%BE%D0%B9-%D0%BC%D0%BE%D0%B4%D1%8B.jpg?s=612x612&w=0&k=20&c=LKVr9__J_hDddadOs3HaAVvc7_Daj3JvLph8iWDdoPw=" 
    class="col-5 col-md-6img-fluid rounded-circle img-thumbnail" alt="Логотип">
</div>
{% endblock %}